[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"

[dev-packages]
pytest = "*"
pylint = "*"
meurit = {editable = true, path = "."}

[requires]
python_version = "3.8"

[scripts]
tests = "python -m pytest"
